/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 1. GLOBAL STYLES */
body {
  font-family: Helvetica, Verdana, Calibri, Arial;
  font-size: 12pt;  
}

/* CONTENT STYLES */
.content {
  display: flex;
  justify-content: center;  
  /* background-image: url("/images/inputs_background12.jpg"); */
  /* background-repeat: calc(); */
  
}

/* PRINT BUTTON STYLES */
.printButton, .saveButton {
  display: block;
  width: 6cm;
  background: rgb(119, 136, 153, 0.8);
  color: white;
  margin-top: 0.4cm;
  line-height: 2em;
  border: 2px solid white;
  border-radius: 0.10cm;
  font-weight: bold;
  padding: 0.1cm 1cm;
}

.printButton:hover, .saveButton:hover {
  background: rgb(119, 136, 153);
}
